.*.swp
Makefile
Makefile.in
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.mod
*.orig
*.rej
*.tmp
*.trs
tmp
tmp-*
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/libcif-*.tar.gz
/libtool
/stamp-h1
/config/gnu/compile
/config/gnu/config.guess
/config/gnu/config.sub
/config/gnu/depcomp
/config/gnu/install-sh
/config/gnu/ltmain.sh
/config/gnu/missing
/config/gnu/test-driver
/config/m4/libtool.m4
/config/m4/ltoptions.m4
/config/m4/ltsugar.m4
/config/m4/ltversion.m4
/config/m4/lt~obsolete.m4
/src/.deps
/src/.libs
/src/test_error
